body {
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav button {
    margin-left: 10px;
    cursor: pointer;
}

section {
    margin: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.alto-contraste {
    background-color: black;
    color: yellow;
}
body {
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav button {
    margin-left: 10px;
    cursor: pointer;
    padding: 8px 12px; /* Adiciona padding para melhor aparência do botão */
    border: 1px solid #ccc; /* Adiciona uma borda */
    border-radius: 4px; /* Arredonda os cantos */
}

section {
    margin: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

body.alto-contraste { /* Ajuste no seletor CSS */
    background-color: black;
    color: yellow;
}